[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
wget = "*"
pytest = "*"
pytest-helpers-namespace = "*"
apache-airflow = "==1.10.9"

[dev-packages]

[requires]
python_version = "3.8"
